body {
  background-color: #e9f2f9;
}

.container {
  margin-top: 100px;
}

.light {
  background-color: #f8fafc;
  color: #333;
}

.dark {
  background-color: #333;
  color: #f0f2f5;
}

#clock {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#clock.dark {
  background-color: #333;
}

#time {
  font-size: 48px;
}

#date {
  font-size: 16px;
}

#theme-toggle {
  margin-bottom: 20px;
}
